.container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid black;
    background: rgba(0, 0, 255, 0.548);
}

img {
    max-width: 150vw;
    max-height: 150vw;
    user-select: none;
    display: block;
}

.infoBoard, select {
    text-transform: capitalize;
}

.found {
    border: 5px solid red;
}

body {
    background: hotpink;
}
