/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    color: rgb(255, 187, 41);
    background: linear-gradient(-30deg, rgba(209, 17, 226, 0.753), rgba(42, 42, 209, 0.8), rgba(226, 17, 191, 0.753)) no-repeat;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
    width: 95%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    display: block;
    max-width: 150vw;
    max-height: 150vw;
    user-select: none;
}

h2 {
    font-size: 1.8em;
}


/* Header */
.header {
    font-weight: 700;
    position: relative;
}

.backButton {
    position: absolute;
    left: 0;
    top: 0;
}


/* InfoBoard */
.infoBoard {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.infoBoard, select {
    text-transform: capitalize;
}

.foundBox {
    border: 5px solid red;
}

table, tr, td {
    border: 3px solid black;
    font-weight: bold;
}

th {
    font-size: 20px;
}

#highscorePopup {
    height: 30px;
    width: 480px;
    border: 10px dotted rgb(197, 8, 197);
    border-radius: 10px;
    background-color: rgba(32, 228, 163, 0.911);
    color: rgb(253, 129, 56);
    font-size: 26px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#winnerPopup {
    height: 30px;
    width: 380px;
    border: 10px dotted rgb(197, 8, 197);
    color: rgb(255, 187, 41);
    font-size: 26px;
    font-weight: bold;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    background-color:#4095c6;
}

@media all and (max-width:30em){
    button {
        display: block;
        margin: 0.2em auto;
    }
}

.spin {
    animation: spin 5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    background-color: transparent;
}

.flash {
    animation: flash 0.5s linear 0.3s infinite;
    background-color: transparent;
}


/*      Animations       */
/* Spin the board */
@keyframes spin {
    40% {transform: scale(0.4) rotate(2160deg);}
    75% {transform: scale(1.4);}
    100% {transform: scale(1.0);}
}

/* Flash Winner */
@keyframes flash {
    0% {color: rgb(247, 78, 0); transform: scale(1.1); border-color: yellow;}
    15% {color: yellow; border-color: rgb(189, 0, 189);}
    50% {color: rgb(247, 78, 0); transform: scale(0.9); border-color: orange;}
    75% {color: yellow; border-color: rgb(206, 0, 206);} 
    100% {color: rgb(247, 78, 0); transform: scale(1.1); border-color: yellow;}
}